[user]
	name = muyuu
	email = anticyborg@gmail.com
[ghq]
	root = ~/workspaces
[alias]
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	editor = vi
	autocrlf = input
	eol = lf
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
# overlay が ~/.gitconfig.local を提供すれば業務メール等の上書きを取り込む（無ければ git が無視）
[include]
	path = ~/.gitconfig.local
